body {
    margin: 0;
    padding: 0;
    background: #000 url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}
